* {
  padding: 0;
  margin: 0;
}
.main-body {
  
  display: flex;
  flex-direction: column;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.header {
  width: 1200px;
  height: 54px;
  background-color: #161920;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #2e3440;
  border-radius: 6px;
  align-items: center;
}
.section-1 {
  width: 598px;;
  height: 544px;
  background-color: #0f1115;

}
.section-2 {
  width: 598px;
  height: 544px;
  background-color: #f8fafc;
}
.body-1{
    display: flex;
    flex-direction: row;
}
.section-divider
{
    width: 4px;
    height: 544px;
    background-color: #2e3440;
}
.wrapper
{
    margin-top: 100px;
    width:1400px ;
    height:684px ;
    border:2px dashed #475569; ;
    border-radius:12px ;
    background-color:#1e222b ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.active-button-container
{
    display: flex;
    gap: 8px;
    width: 179px;
    height: 33.5px;
}
.active-button-1
{
    background-color: #242936;
    border: 1px solid var(--border-dark);
    color: var(--text-light);
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.active-button-2
{
    background-color: #3b82f6;
    border: 1px solid var(--border-dark);
    color: var(--text-light);
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}